.contact-form {
  display: block;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
  max-width: 400px;
  border-radius: 4px;
}
.contact-form__fields {
  padding: 16px 32px;
}
.contact-form__input {
  width: 100%;
  padding: 8px 12px;
}
.contact-form__input:after {
  content: attr('err');
}
.contact-form__input[aria-invalid="true"] {
  border-color: red;
}
.contact-form__input-error {
  color: red;
  font-size: .8em;
}

.contact-form label {
  margin-bottom: 8px;
  width: 100%;
}
.contact-form__header {
  background-color: #fafafa;
  padding: 32px;
  border-bottom: 4px solid #3f51b5;
  border-radius: 15px 15px 0 0;
}
.contact-form__actions {
  display: block;
  overflow: auto;
  padding: 16px;
}
.contact-form__actions button,
.contact-form__actions input {
  cursor: pointer;
}
.contact-form__cancel,
.contact-form__submit {
  float: right;
}
.contact-form__submit[disabled] {
  opacity: .5;
  pointer-events: none;
}
.contact-form__cancel {
  display: block;
  margin-right: 0;
  align-self: flex-end;
  background-color: transparent;
  color: #3f51b5;
}
.contact-form__submit {
  display: block;
  margin-right: 0;
  align-self: flex-end;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.2);
  max-height: 100vh;
}
.modal {
  margin: 20px auto;
}